body
{
    background-color: darkgray;
    font-family: monospace, sans-serif;
}

h1
{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}

img
{
    border-radius: 50%;
}

#nome
{
    color: darkred;
    font-family:fantasy;
}

.subtitulo
{
    color: darkred;
    font-size: 18px;
}

.redes-sociais
{
    background-color: darkred;
    color: darkgray;
    padding: 15px, 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.redes-sociais:hover
{
    background-color: red;
}