body
{
    background-color: darkgray;
    font-family: monospace, sans-serif;
}

h1
{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}

img
{
    border-radius: 50%;
    background-color: darkred;
    padding: 3px;
}

#nome
{
    color: darkred;
    font-family:fantasy;
    position: absolute;
    left: 230px;
}

.subtitulo
{
    color: darkred;
    font-size: 18px;
}

.redes-sociais
{
    background-color: darkred;
    color: darkgray;
    padding: 15px, 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 3px 3px;
}

.redes-sociais:hover
{
    background-color: red;
}

#topo-pagina
{
    border-style: double;
    padding: 15px 6px;
}

#descriçao
{
    position: absolute;
    top: 180px;
    left: 230px;
    padding-inline: 1px;
}